<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add movie to <%= @list.name %></h3>

        <%= simple_form_for [@list, @bookmark] do |f| %>
          <% if @bookmark.errors.any? %>
            <div class="alert alert-danger">
              <h5>You must correct these errors</h5>
              <ul>
                <% @bookmark.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.input :comment %>
          <%= f.association :movie, collection: Movie.all - @list.movies %>
          <%= f.submit class: 'btn btn-primary' %> or
          <%= link_to 'Cancel', list_path(@list), class: 'text-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
